<!doctype html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="a simple app to test my asset module">
  <meta name="author" content= "Thermatix">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/assets/application.css">
  <script src="http://cdn.opalrb.org/opal/current/opal.min.js"></script>
  <script type="text/javascript" src="/assets/application.js"></script>
  <title>Asset test app</title>
</head>

<body>
    <%= yield %>
</body>
</html>